html, body {
  margin: 0;
  padding: 0;

}

canvas {
  display: block;
}

a:link, a:visited {
  color: rgb(243, 255, 211);
}

.tab {
    display: inline-block;
    margin-left: 40px;
    /* <span class="tab"></span> */
}

#popup1{
  display: none;
  position: absolute;
  border-radius: 2px;
  outline-width: thick;
  outline-style: double;
  outline-color: rgb(243, 255, 211);
  background-color: rgb(44, 61, 0);
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 25px;
  font-family: 'VT323', monospace;
  top: 220px;
  left: 470px;
}

#popup2{
  display: none;
  position: absolute;
  border-radius: 2px;
  outline-width: thick;
  outline-style: double;
  outline-color: rgb(243, 255, 211);
  background-color: rgb(44, 61, 0);
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 25px;
  font-family: 'VT323', monospace;
  top: 715px;
  left: 360px;
}

#popup3{
  display: none;
  position: absolute;
  border-radius: 2px;
  outline-width: thick;
  outline-style: double;
  outline-color: rgb(243, 255, 211);
  background-color: rgb(44, 61, 0);
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 25px;
  font-family: 'VT323', monospace;
  top: 340px;
  left: 550px;
}

#popup4{
  display: none;
  position: absolute;
  border-radius: 2px;
  outline-width: thick;
  outline-style: double;
  outline-color: rgb(243, 255, 211);
  background-color: rgb(44, 61, 0);
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 25px;
  font-family: 'VT323', monospace;
  top: 715px;
  left: 1130px;
}

#popup5{
  display: none;
  position: absolute;
  border-radius: 2px;
  outline-width: thick;
  outline-style: double;
  outline-color: rgb(243, 255, 211);
  background-color: rgb(44, 61, 0);
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 25px;
  font-family: 'VT323', monospace;
  top: 120px;
  left: 1130px;
}

#p5-canvas {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -2;
}

#header{
margin: 0px;
}

#title{
position: fixed;
margin-top: 0px;
padding-left: 50px;
padding-top: 15px;
padding-bottom: 10px;
width: 100%;
background-color: rgb(114, 148, 130);
color: rgb(57, 99, 77);
font-size: 48px;
font-family: 'VT323', monospace;
}

#poem{
  /* position: absolute; */
  margin-top: 0px;
  margin-bottom: 20px;
  margin-left: 80px;
  margin-right: 760px;
  border-radius: 4px;
  outline-width: thick;
  outline-style: solid;
  outline-color: rgb(154, 171, 112);
  background-color: rgb(236, 232, 194);
  padding: 20px;
  color: rgb(154, 171, 112);
  font-size: 27px;
  font-family: 'Lora', serif;

  overflow: auto;
    max-height: 400px;
    height: auto;
}

#explanation{
  /* position: absolute; */
  margin-top: 60px;
  margin-left: 80px;
  margin-right: 110px;
  margin-bottom:60px;
  border-radius: 2px;
  outline-width: thick;
  outline-style: double;
  outline-color: rgb(57, 99, 77);
  background-color: rgb(114, 148, 130);
  padding: 20px;
  color: rgb(255, 255, 255);
  font-size: 23px;
  font-family: 'Lora', serif;
}

#message{
  position: absolute;
  top: 140px;
  left: 80px;
  right: 80px;
  border-radius: 2px;
  outline-width: thick;
  outline-style: double;
  outline-color: rgb(57, 99, 77);
  background-color: rgb(114, 148, 130);
  padding: 20px;
  color: rgb(255, 255, 255);
  font-size: 23px;
  font-family: 'Lora', serif;
}
