html {
  height: 100%;
}
body, p, h3{
  margin: 0;
}

body {
  background-color: pink;

}

.box{
  background-color: lightgrey;
  width: 200px;
  height: 180px;
  border-width: 2px;
  border-color: grey;
  border-style: dashed;
/* x, y position */
  margin: 50px;
/* text x, y position */
  padding: 20px;
  /* padding: top/bottom, left/right; */
  /* padding: top, right, bottom, left; */
}

.title {
  /* background-color: white; */
}
.description {
  /* background-color: lavender; */
}

.special-box{
  background-color: lightpink;
  position: fixed;
  right: 200px;
  top: 400px;

}

.hidden-box{
  visibility: hidden;
  /* display: none; */
  background-color: lightpink;


}
